[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "konfound"]
	path = konfound
	url = https://github.com/konfound-project/konfound
	shallow = true
	registered = true
